<h6 class="header">CONTACTS</h6>
        <div class="contacts" id=""> 
            <div class="contactNames">
                <div *ngFor="let userContact of userContacts">
                    <ul class="contact active" [ngClass]="{'active':id==userContact.id}" [routerLink]="['/contacts/contact/',userContact.id]" routerLinkActive="active"  (click)="activeData(userContact.id)">
                        <li id="contactName1">{{userContact.name}}</li>
                        <li id="contactNumber1">{{userContact.number}}</li>
                        <li id="contactEmail1">{{userContact.mail}}</li>
                    </ul>
                </div>
            </div>
            <div class="mainContact" style="width:280px" *ngIf="contactBlock">
                <div *ngIf="userContactActive" >
                    <div class="contactDetail" id="username">{{userContactActive.name}}</div>
                    <div class="memberDetails">
                        <li class="list" id="usermail">Email: {{userContactActive.mail}}</li>
                        <li class="list" id="usermobile">Mobile: {{userContactActive.number}}</li>
                        <li class="list" id="userlandline">Landline: {{userContactActive.landline}}</li>
                        <li class="list" id="userwebsite">Website: {{userContactActive.website}}</li>
                        <li class="list0" id="useraddress"><pre>Address: {{userContactActive.address}}</pre></li>
                    </div>
                </div>
            </div>
            <div class="imageIcon" *ngIf="imageBlock">
                <div>
                    <img src="../../../../assets/Pictures/Edit-icon.png" height="18px" alt="EDIT Image"class="icon" id="imagePlace" (click)="editDetails()"><span class="modify" (click)="editDetails()">EDIT</span>
                </div>
                <div>
                    <img src="../../../../assets/Pictures/delete2.png" height="26px" alt="DELETE Image"class="icon" (click)="deleteDetails()"><span class="modify" (click)="deleteDetails()">DELETE</span>
                </div>
            </div>
            <div class="contactDetails" *ngIf="formBlock">
                <form [formGroup]="editForm" class="detailForm" (ngSubmit)="editData()">
                    <div class="subDetails">
                        <div class="form-group">
                            <label >Name<span class="mandatory"> *</span></label>
                            <input type="text" id="contactName" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && control.name.errors }">
                            <div *ngIf="submitted && control.name.errors">
                                <small *ngIf="control.name.errors.required" class="error">Name is required</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mail">Email<span class="mandatory"> *</span></label>
                            <input type="text" id="contactMail"  formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && control.mail.errors}">
                            <div *ngIf="submitted && control.mail.errors">
                                <small *ngIf="control.mail.errors.required" class="error">Email is required</small>
                                <small *ngIf="control.mail.errors.pattern" class="error">Email should be valid</small>
                            </div>
                        </div>
                        <div class="block">
                            <div class="form-group">
                                <label style="margin-top:3px;padding-bottom: 4px;">Mobile<span class="mandatory"> *</span></label>
                                <input type="number" id="contactNumber"  formControlName="number" class="form-control"  [ngClass]="{ 'is-invalid': submitted && control.number.errors }">
                                <div *ngIf="submitted && control.number.errors">
                                    <small *ngIf="control.number.errors.required" class="error">Number is required</small>
                                    <small *ngIf="control.number.errors.pattern"class="error">Number should of length 10</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  style="margin-left: 5px;margin-top:3px;padding-bottom: 4px" >Landline</label>
                                <input style="margin-left: 5px;" type="number" id="contactLandline" formControlName="landline" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Website</label>
                            <input type="text" id="contactWebsite"  formControlName="website" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label >Address</label>
                            <textarea class="form-control" id="contactAddress" formControlName="address"cols="35"rows="2"></textarea>
                        </div>
                    </div>
                    <div class="submitButton" >
                            <button class="btn btn-success" type="submit">Edit</button>
                    </div>
                </form>
            </div>
        </div>