.company
{
    height:130px;
    background-color:#3398CC;
    padding-top:40px;
    padding-left:20px;
    font-weight: 200;
    box-sizing: border-box;
    color:white;
    margin-bottom: 0px;
}
.navigationbar
{
    background-color: #333333;
    color:white;
    margin-top: 0px;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size:small;
    font-weight:600;
    list-style-type: none;
    margin-left:-20px;
    li{
        padding-left: 5px;
        padding-top: 0px;
        display: inline-block;
    }
    li a{
        text-align: center;
        padding: 8px 10px;
        color:white;
        font-size: 13px;
        font-weight: 650px;
        text-decoration: none;
    }
    a.active{
        color: #333333;
        border-left: 3px solid white;
        background-color: #FF9900;
        cursor: pointer;
    }
    li a:hover{
        color: #333333;
        border-left: 3px solid white;
        background-color: #FF9900;
        cursor: pointer;
    }
}

.mainIcon
{
    float: right;
    margin-right: 18px;
    
}