.header
{
    margin-top:20px;
    margin-left: 20px;
    margin-bottom:15px;   
}
.contactNames
{
    margin-left:20px;
    width:220px;
}
.contact
{
    border:1px solid #E4E4E4;
    padding:10px;
    width:220px;
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}
.contact:hover
{
    cursor: pointer;
    background-color: #CFE7F3;
    border:1px solid #E4E4E4;
}
.contactDetails {
    width: 520px;
    height: 450px;
    flex-grow: 10px;
    box-shadow:0px 5px 15px black;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 20px;
    font-size: 13px;
    margin-bottom: 20px;
}
.flexContent
{
    display: flex;
}
.subDetails
{
    width:400px;
    label
    {   
    font-weight: bold;
    font-size: 12px;
    padding-top:7px;
    padding-bottom: 5px;
    }
}
.btn
{
    width:100px;
    text-align: center;
    border-radius: 6px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}
.block
{
    display:flex;
}
.mandatory
{
    color:red;
}
.form-group
{
    margin-top:4px;
    margin-bottom:4px;
}
#umail
{
    margin-top: 2px;
}
.error
{
    margin-top:1px;
    position: absolute;
    color:rgb(226, 50, 50);
}