<h6 class="header">CONTACTS</h6>
<div class="flexContent">
    <div class="contactNames">
        <div *ngFor="let userContact of userContacts">
            <ul class="contact">
                <li id="contactName1">{{userContact.name}}</li>
                <li id="contactNumber1">{{userContact.number}}</li>
                <li id="contactEmail1">{{userContact.mail}}</li>
            </ul>
        </div>
    </div>
    <div class="contactDetails">
        <form [formGroup]="registerForm" class="detailForm" (ngSubmit)="getData()">
            <div class="subDetails">
                <div class="form-group">
                    <label for="">Name<span class="mandatory" id="uname"> *</span></label>
                    <input type="text" id="contactName" name="uname" value=""  formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <div *ngIf="submitted && f.name.errors">
                        <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Email<span class="mandatory" id="umail"> *</span></label>
                    <input type="text" id="contactMail" name="" value="" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mail.errors}">
                    <div *ngIf="submitted && f.mail.errors">
                        <div *ngIf="f.mail.errors.required">Email is required</div>
                        <div *ngIf="f.mail.errors.email">Email should be valid</div>
                    </div>
                </div>
                <div class="block">
                    <div class="form-group">
                        <label for="">Mobile<span class="mandatory" id="umobile"> *</span></label>
                        <input type="text" id="contactNumber" name="" value="" formControlName="number" class="form-control" minlength="10" [ngClass]="{ 'is-invalid': submitted && f.number.errors }">
                        <div *ngIf="submitted && f.number.errors">
                            <div *ngIf="f.number.errors.required">Number is required</div>
                            <div *ngIf="f.number.errors.minlength">Number should of length 10</div>
                        </div>
                        </div>
                    <div class="form-group">
                        <label  style="margin-left: 5px;" for="">Landline</label>
                        <input style="margin-left: 5px;" type="number" id="contactLandline" name="" value="" formControlName="landline" class="form-control" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="">Website</label>
                    <input type="text" id="contactWebsite" name="" value="" formControlName="website" class="form-control" >
                </div>
                <div class="form-group">
                    <label for="">Address</label>
                    <textarea class="form-control" id="contactAddress" formControlName="address"cols="35"rows="2"></textarea>
                </div>
            </div>
            <div class="submitButton" id="">
                    <button class="btn btn-success" type="submit" value="submit">Add</button>
            </div>
        </form>
    </div>
</div>