<h6 class="header" *ngIf="headerBlock">CONTACTS</h6>
<div class="flexContent">
    <div class="contactNames" *ngIf="contactBlock">
        <div *ngFor="let userContact of userContacts">
            <ul class="contact" >
                <li id="contactName1">{{userContact.name}}</li>
                <li id="contactNumber1">{{userContact.number}}</li>
                <li id="contactEmail1">{{userContact.mail}}</li>
            </ul>
        </div>
    </div>
    <div class="contactDetails">
        <form [formGroup]="registerForm" class="detailForm" (ngSubmit)="getData()">
            <div class="subDetails">
                <div class="form-group">
                    <label for="">Name<span class="mandatory" id="uname"> *</span></label>
                    <input type="text" id="contactName" name="uname" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && control.name.errors }">
                    <div *ngIf="submitted && control.name.errors">
                        <small *ngIf="control.name.errors.required" class="error">Name is required</small>
                    </div>
                </div>
                <div class="form-group">
                    <label >Email<span class="mandatory" id="umail"> *</span></label>
                    <input type="text" id="contactMail" formControlName="mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && control.mail.errors}">
                    <div *ngIf="submitted && control.mail.errors">
                        <small *ngIf="control.mail.errors.required"class="error">Email is required</small>
                        <small *ngIf="control.mail.errors.pattern"class="error">Email should be valid</small>
                    </div>
                </div>
                <div class="block">
                    <div class="form-group">
                        <label >Mobile<span class="mandatory" id="umobile"> *</span></label>
                        <input type="number" id="contactNumber" formControlName="number" class="form-control"  [ngClass]="{ 'is-invalid': submitted && control.number.errors }">
                        <div *ngIf="submitted && control.number.errors">
                            <small *ngIf="control.number.errors.required"class="error">Number is required</small>
                            <small *ngIf="control.number.errors.pattern"class="error">Number should of length 10</small>
                        </div>
                        </div>
                    <div class="form-group">
                        <label  style="margin-left: 5px;">Landline</label>
                        <input style="margin-left: 5px;" type="number" id="contactLandline" formControlName="landline" class="form-control" >
                    </div>
                </div>
                <div class="form-group">
                    <label >Website</label>
                    <input type="text" id="contactWebsite" formControlName="website" class="form-control" >
                </div>
                <div class="form-group">
                    <label >Address</label>
                    <textarea class="form-control" id="contactAddress" formControlName="address"cols="35"rows="2"></textarea>
                </div>
            </div>
            <div class="submitButton">
                    <button class="btn  float-right" type="submit" >Add</button>
            </div>
        </form>
    </div>
</div>